/* * First Section Start */
.about_first_section {
    font-family: 'Inter', sans-serif;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;
}

.about_first_section h1 {
    font-size: 9vw;
    margin-bottom: 10px;
}

.about_first_img {
    background-color: #d9d9d9;
    height: 20vw;
    margin-top: 20px;
    border-radius: 15px;
}

.about_first_section hr {
    margin-top: 15px;
}

.about_head {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 3vw;
}

.about_subhead {
    margin-top: 20px;
    font-size: 4vw;
    margin-bottom: 15px;
}

.about_words {
    border: 1px black solid;
    border-radius: 10vw;
    display: inline-block;
    font-size: 3vw;
    padding: 5px;
    margin-top: 8px;
}

/* *First Section End */


/* *Second Section Start */
.team_section {
    font-family: 'Inter', sans-serif;
}

.developers {
    background-color: black;
    color: white;
    border-bottom-left-radius: 110px;
    margin-top: 45px;
    padding-top: 35px;
    padding-bottom: 90px;
}

.team_section h1 {
    text-transform: uppercase;
    font-size: 6vw;
    margin-left: 8%;
    margin-right: 7%;
}

.team_section hr {
    width: 61%;
    margin-left: 25%;
    margin-top: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25)
}

.developers_img {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
}

.team_section .img1 {
    height: 39vw;
    width: 39vw;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 16px;
}

.team_section .img2 {
    height: 39vw;
    width: 39vw;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 16px;
}

.developers_p {
    margin-left: 8%;
    margin-right: 7%;
    margin-top: 5%;
    font-size: 4vw;
}

.designer_border {
    border: 1px black solid;
    border-top: none;
    margin-top: -50px;
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 80px;
    margin-bottom: 30px;
}

.designer_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.designer_img .img3 {
    height: 65vw;
    width: 65vw;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 20px;
}

.designer_p {
    margin-left: 14%;
    margin-right: 12%;
    font-size: 4vw;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* *Second Section End */



/* *Third Section Start */
.story_section {
    font-family: 'Inter', sans-serif;

}

.story_section hr {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.hr2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr_second {
    width: 80%;
    margin-top: 5px;
}

.story_h1 {
    text-align: center;
    font-size: 6vw;
    margin-bottom: 20px;
}

.img{
    background-color: #D9D9D9;
    height: 60px;
    width: 60vw;
    border-radius: 50px;
    margin-top: 5px;
}
.text_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.story_p {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 7%;
    font-size: 4vw;
}

.story_images {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 8%;
}

.pic1, .pic2, .pic3{
    background-color: #D9D9D9;
    height: 25vw;
    width: 25vw;
    border-radius: 25vw;
}

.story_section h3{
    text-align: center;
    font-size: 6vw;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* *Third Section End */