* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/** Navbar Start */
li {
  list-style: none;
  font-family: 'Inter', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 1rem;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: black;
  border-radius: 10px;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav_link {
  transition: 0.7s ease;
  color: white;
}

.nav_link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 20px;
  height: 1px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: #3E3E3E;
  padding: 10px;
  border-radius: 10px;
}

.burger_logo {
  color: white;
  font-family: 'Inter', sans-serif;
}

.menu_item_cta {
  background-color: #3076FF;
  border-radius: 10px;
  padding: 15px;
}

.nav_logo {
  background-color: grey;
  border-radius: 10px;
  padding: 15px;
}

/** Navbar End */



@media (max-width: 609px) {

  /** Navbar Start */
  header {
    margin-right: 1rem;
  }

  .hamburger {
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
  }

  .bar {
    margin: 3px 6px;
  }

  .group_bars {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 3px;
  }

  .hamburger.active .burger_logo {
    opacity: 0;
    transition: 1s;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
    width: 15px;
    height: 3px;
  }

  .hamburger.active .bar:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
    width: 15px;
    height: 3px;
  }

  .nav_menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: -300%;
    background-color: black;
    transition: 0.5s;
    border-radius: 10px;
    height: 270px;
    margin-right: 15px;
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 220px;
    padding-bottom: 20px;
  }

  .navbar .nav_link {
    color: white;
  }

  .menu_item {
    margin: 15px 0;
  }

  .nav_menu.active {
    right: 0;
    margin-top: 220px;
  }

  .nav_logo {
    background-color: black;
    padding: 0px;
    border-radius: 0px;
  }

  .navbar {
    padding: 0px 0px;
    min-height: 30px;
    border-radius: 5px;
  }

  .nav_items {
    background-color: black;
    padding: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: -37px;
    margin-bottom: -20px;
  }

  /** Navbar End */



  /** First Section of Homepage Start */
  .first_section {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
  }

  .first_section_h1 {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 8vw;
  }

  .first_section_hr {
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 29%;
    margin-top: 8px;
  }

  #first_section_par {
    font-size: 4vw;
    font-family: 'Inter', sans-serif;
    margin-bottom: 15px;
    margin-top: 8px;
  }

  #first_section_img {
    max-width: 100%;
  }

  .gta_button {
    background-color: #3076FF;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 4vw 4vw;
    font-family: 'Inter', sans-serif;
    font-size: 3vw;
  }
  /** First Section of Homepage End */



  /** Second Section of Homepage Start */
  .second_section {
    margin-top: 10%;
  }

  .gradient_bg {
    /* TODO: Sa mobile pa lang to responsive */
    background: linear-gradient(to bottom,
        white 0%,
        white 8%,
        black 8%,
        black 100%);
    border-bottom-right-radius: 40vw;
  }

  .border_white {
    width: 94vw;
    height: 65vw;
    /* TODO: Sa mobile pa lang responsive */
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 3%;
    margin-left: 3%;
  }

  .grey_container {
    width: 84vw;
    height: 50vw;
    /* TODO: Sa mobile pa lang responsive */
    background-color: #D9D9D9;
    border-radius: 20px;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .empowering_h1_part {
    margin-top: 15%;
  }

  .empowering_h1 {
    color: white;
    text-align: center;
    font-size: 7vw;
    font-family: 'Inter', sans-serif;
  }

  /** Slides Start*/
  @keyframes slide {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  .words {
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    padding: 6% 0;
    white-space: nowrap;
    display: flex;
    font-family: 'Inter', sans-serif;
  }

  .words_slide {
    display: inline-block;
    animation: 20s slide infinite linear;
  }

  .words_slide span {
    margin: 0 10px;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    padding: 8px 20px;
    font-size: 4vw;
  }
  /** Slides End*/


  .second_section_button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .meet_h1 {
    color: white;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    margin-left: 6%;
    font-size: 6vw;
    margin-top: 15%;
  }

  i {
    color: #3076FF;
    font-size: 7vw;
  }

  .second_section_hr {
    width: 35%;
    margin-left: 25%;
    margin-top: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25)
  }

  .second_section_par {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 4vw;
    margin-left: 6%;
    margin-right: 5%;
    margin-top: 20px;
  }

  .second_section_images {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
  }

  .big_image_container {
    height: 57vw;
    width: 57vw;
    border-radius: 10px;
    background-color: #D9D9D9;
    margin-top: 16px;
  }

  .small_image_container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }

  .small_image1 {
    height: 27vw;
    width: 27vw;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 16px;
  }

  .small_image2 {
    height: 27vw;
    width: 27vw;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 11%;
  }

  .names {
    color: white;
    margin-top: 10%;
  }

  .names_hr {
    margin-left: 6%;
    margin-right: 7%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25)
  }

  .names_hr_bot {
    margin-left: 6%;
    margin-right: 7%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-bottom: 30%;
    border-left: black;
    border-bottom: black;
    border-right: white;
  }

  .names_h1 {
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Inter', sans-serif;
    font-size: 6vw;
    text-transform: uppercase;
  }

  /** Second Section of Homepage End */




  /** Third Section of Homepage Start */
  .third_section {
    height: 50vh;
    /* TODO: Aalisin pa ito pag nalagay na yung contents ng slideshow */
    display: flex;
    justify-content: center;
  }

  .some_text {
    /* TODO: Baka mabago pa */
    text-transform: uppercase;
    color: #3076FF;
    font-family: 'Inter', sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 5vw;
    font-weight: bold;
    margin-top: 13%;
  }

  /** Third Section of Homepage End */




  /** Fourth Section of Homepage Start */
  .fourth_section {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
  }

  .faqs_hr_top {
    border: 1px solid rgba(0, 0, 0, 0.6);
  }


  .faq_title {
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 8vw
  }


  .faq_question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 9%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 5vw
  }

  .faq_answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    margin-left: 9%;
    margin-right: 5%;
    margin-bottom: 2%;
  }

  .faq_answer p {
    padding-top: 2%;
    line-height: 1.6;
  }

  .faq.active .faq_answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
  }

  .faq.active svg {
    transform: rotate(180deg);
  }

  svg {
    transition: transform 0.5s ease-in
  }


  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  /** Fourth Section of Homepage End */



  /** Fifth Section of Homepage Start */
  .fifth_section {
    padding: 5%;
    background: linear-gradient(to bottom right,
        black 5%,
        #1F3EE1 100%);
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fifth_section_par {
    margin-bottom: 10%;
    font-size: 4vw;
  }

  .fifth_section_h1 {
    font-size: 6vw;
  }

  .fifth_section_gta {
    background-color: #3076FF;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 13px 13px;
    font-family: 'Inter', sans-serif;
    font-size: 3vw;
    margin-top: 10%;
  }

  /** Fifth Section of Homepage End */

  /** Footer Start */
  footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    padding: 5%;
  }

  /** Footer End */
}




@media (min-width: 610px) {

  /** Navbar Start */
  .hamburger {
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: 10px;
    padding: 15px;
  }

  .bar {
    margin: 3px 6px;
  }

  .group_bars {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .hamburger.active .burger_logo {
    opacity: 0;
    transition: 1s;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
  }

  .nav_menu {
    position: fixed;
    right: -100%;
    background-color: black;
    transition: 0.5s;
    padding-left: 50px;
    padding-right: 70px;
    border-radius: 10px;
    margin-right: 16px;
    height: 70px;
  }

  .navbar .nav_link {
    color: white;
  }

  .menu_item {
    margin: 16px 0;
  }

  .nav_menu.active {
    right: 0;
  }

  .nav_logo {
    background-color: black;
    padding: 0px;
    border-radius: 0px;
  }

  .navbar {
    padding: 0px 0px;
    min-height: 70px;
  }

  .nav_items {
    background-color: black;
    padding: 0px;
    border-radius: 0px;
  }

  /** Navbar End */
}



@media (min-width: 992px) {

  /** Navbar Start */
  .nav_menu {
    right: 0;
    padding: 10px;
    height: 75px;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .nav_menu {
    background-color: rgba(16, 16, 22, .20);
    gap: 5px;

  }

  .nav_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: rgba(16, 16, 22, .80);
    border-radius: 10px;
    padding: 5px 20px;
  }

  .nav_logo {
    background-color: #101016;
    border-radius: 10px;
    padding: 20px;
  }

  .menu_item_cta {
    padding: 20px;
  }

  /** Navbar End */
}