@media (max-width:609px) {
    .works_first_section {
        font-family: 'Inter', sans-serif;
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 5%;
    }

    .works_first_section h1 {
        font-size: 9vw;
        margin-bottom: 10px;
    }

    .works_first_section p {
        font-size: 4vw;
    }

    .works_first_img {
        background-color: #d9d9d9;
        height: 80vw;
        margin-top: 20px;
        border-radius: 15px;
    }

    .works_second_section {
        background-color: black;
        height: 300vw;
        margin-top: 40px;
    }

    .filter-container {
        text-align: center;
        padding: 20px;
        height: 100%;
    }

    .filter-btn {
        padding: 3vw 3vw;
        margin: 0 5px;
        background-color: transparent;
        color: white;
        border: 2px solid white;
        border-radius: 5%;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        font-size: 3vw;
    }

    .filter-btn.active {
        background-color: #3498db;
        /* Set background color when active */
        color: white;
        /* Set text color when active */
    }


    .product-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        max-height: 100%;
    }

    .product {
        width: 100%;
        /* Make items take full width */
        margin-bottom: 30%;
        /* Add spacing between items */
        overflow-y: auto;
        /* Add scrollbar if content overflows */

    }

    .Website {
        background-color: #2ecc71;
        height: 90vw;
        font-size: 4vw;
        border-radius: 10px;
    }

    .Uiux {
        background-color: #e74c3c;
        height: 90vw;
        font-size: 4vw;
        border-radius: 10px;
    }

    .fourth_section{
        background-color: white;
        height: 50px;
    }

}